<section class="main-password">
  <h1 class="main-password__logo">{{ shop.name }}</h1>

  {%- if shop.password_message != blank -%}
    <p class="main-password__message">{{ shop.password_message }}</p>
  {%- endif -%}

  {%- form 'storefront_password', class: 'password-form' -%}
    {{ form.errors | default_errors }}
    <label class="visually-hidden" for="Password">{{ 'general.password.label' | t }}</label>
    <input
      id="Password"
      class="field"
      type="password"
      name="password"
      autocomplete="current-password"
      placeholder="{{ 'general.password.label' | t }}"
    >
    <button type="submit" class="button">{{ 'general.password.submit' | t }}</button>
  {%- endform -%}
</section>

{% schema %}
{
  "name": "Password page",
  "settings": []
}
{% endschema %}
